# Ignore Python compiled files
*.pyc
# Ignore projects folder except default project
/projects/*
!/projects/default/

# Ignore Vagrant Project
/.vagrant

# Ignore PyCharm Project
/.idea

# Ignore PYGPW cache
*.cpickle

# Ignore Temporary Files
*.swp
*~

# Ignore Bower Components
bower_components
